---
export const prerender = true
import LoginFrom from '../../components/forms/login-form'
import { Icon } from 'astro-icon/components';
---

<html lang="en" class="h-full bg-gray-50">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Login</title>
	</head>
	<body class="h-full">
<div class="flex min-h-full flex-col justify-center py-12 sm:px-6 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-md">
    <img class="mx-auto h-10 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="Your Company">
    <h2 class="mt-6 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Sign in to your account</h2>
  </div>
  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-[480px]">
    <div class="bg-white px-6 py-12 shadow sm:rounded-lg sm:px-12">
  <LoginFrom  client:load/>
  <div>
    <div class="relative mt-10">
      <div class="absolute inset-0 flex items-center" aria-hidden="true">
        <div class="w-full border-t border-gray-200"></div>
      </div>
      <div class="relative flex justify-center text-sm font-medium leading-6">
        <span class="bg-white px-6 text-gray-900">Or continue with</span>
      </div>
    </div>

    <div class="mt-6 grid grid-cols-2 gap-4">
      <a href="#" class="flex w-full items-center justify-center gap-3 rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus-visible:ring-transparent">
        <Icon name="login/google" class="h-5 w-5" />
        <span class="text-sm font-semibold leading-6">Google</span>
      </a>

      <a href="#" class="flex w-full items-center justify-center gap-3 rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus-visible:ring-transparent">
        <Icon name="login/github" class="h-5 w-5" />
        <span class="text-sm font-semibold leading-6">GitHub</span>
      </a>

      <a href="#" class="flex w-full items-center justify-center gap-3 rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus-visible:ring-transparent">
        <Icon name="login/apple" class="h-5 w-5" />
        <span class="text-sm font-semibold leading-6">Google</span>
      </a>

      <a href="#" class="flex w-full items-center justify-center gap-3 rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus-visible:ring-transparent">
        <Icon name="login/facebook" class="h-5 w-5" />
        <span class="text-sm font-semibold leading-6">GitHub</span>
      </a>

      <a href="#" class="flex w-full items-center justify-center gap-3 rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus-visible:ring-transparent">
        <Icon name="login/microsoft" class="h-5 w-5" />
        <span class="text-sm font-semibold leading-6">Google</span>
      </a>

      <a href="#" class="flex w-full items-center justify-center gap-3 rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus-visible:ring-transparent">
        <Icon name="login/x" class="h-5 w-5" />
        <span class="text-sm font-semibold leading-6">GitHub</span>
      </a>
    </div>
  </div>
</div>

<p class="mt-10 text-center text-sm text-gray-500">
  Not a member?
  <a href="#" class="font-semibold leading-6 text-indigo-600 hover:text-indigo-500">Start a 14 day free trial</a>
</p>
</div>
</div>
	</body>
</html>
